@page
@using Web.Pages.Kios;
@model IndexModel
@{
    ViewData["Title"] = "Kios";
}
<h3>List Kios</h3>
<a asp-page="/Kios/Create" class="btn btn-sm btn-success">+ Tambah</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Tipe</th>
            <th>Luas</th>
            <th>Lantai</th>
            <th>Harga</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>B5</th>
            <th>B</th>
            <th>20/20</th>
            <th>1</th>
            <th>Rp 1000.000</th>
            <th>
                <a asp-page="/Kios/Edit" asp-route-id="1" class="btn btn-sm btn-secondary">Ubah</a>
            </th>
        </tr>
    </tbody>
</table>